<%= javascript_pack_tag 'hello_vue' %>
<div id='hello'>
  <p class='trk-red float-right'>Find me in app/views/pages/home.html.erb</p>
  <notifications group='alert' position='top center'></notifications>
  <router-link to='/'>Home</router-link>
  <span v-if='this.$store.state.user.email'>
    Hi {{ this.$store.state.user.email }}
    <router-link to='/log-out'>Log out</router-link>
  </span>
  <span v-else>
    <router-link to='/log-in'>Log In</router-link>
    <router-link to='/sign-up'>Sign up</router-link>
  </span>
  <div>
    {{message}}
  </div>
  <router-view></router-view>
</div>
